<h1>Password Rest</h1>

<%= simple_form_for @user, url: password_reset_path, html: { class: 'form-vertical' } do |f| %>
  <fieldset>
    <legend>Change my password</legend>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Change my password', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', login_path, class: 'btn btn-danger' %>
  </div>
<% end %>
