<% content_for :head do %>
 <script type="text/javascript" src="/javascripts/flowplayer-3.2.4.min.js"></script>
<% end %>

<%= link_to 'â† Back', :back %>

<h1><%= @meeting.user.full_name %> meeting with <%= User.find(@meeting.user_to_meet_with_id).full_name %></h1>
<h3>Viewing: <%= @video.verbose_title %></h3>

<p>
  <strong>When:</strong> In <%= pluralize(@meeting.days_from_today_to_meeting, "day") %>, at <%=h @meeting.time %>
</p>

<% if current_user.admin? %>
	<p>
		<%= link_to 'Edit meeting', edit_admin_meeting_path(@meeting), :class => 'edit' %> | 
		<%= link_to 'Delete meeting', admin_meeting_path(@meeting), :class => 'delete', :method => :delete, :confirm => 'Are you sure you want to destroy this meeting?' %>
	</p>
<% end %>

<div class="float-left">
	<% if @video.converting? -%>
		<div class="notice">Video is still converting, please be patient</div>
	<% elsif @video.error? -%>
		<div class="error">There was an error while converting your video</div>
	<% else -%>
		<a href="<%= "#{@video.video.url}.flv" %>" id="admin_player"></a>
	<% end -%>
</div>

<div class="float-left">
	<object type="application/x-shockwave-flash" data="http://me.tokbox.com/vc/tdxmz02dz00wmx6g/10" width="375" height="425">
		<param name="movie" value="http://me.tokbox.com/vc/tdxmz02dz00wmx6g/10" />
		<param name="allowFullScreen" value="true" />
		<param name="allowScriptAccess" value="always" />
		<param name="flashvars" value="guestList=false&textChat=true" />
	</object>
</div>
<div class="clear"></div>

<script type="text/javascript">
	flowplayer("admin_player", "/swf/flowplayer-3.2.5.swf", {
		clip: {
			autoPlay: false
			, autoBuffering: true
		}
	});
</script>