<%= link_to 'â† Back', :back %>

<h1><%= @meeting.user.full_name %> meeting with <%= User.find(@meeting.user_to_meet_with_id).full_name %></h1>
<h3>Viewing: <%= @video.verbose_title %></h3>

<p>
  <strong>When:</strong> In <%= pluralize(@meeting.days_from_today_to_meeting, "day") %>, at <%=h @meeting.time %>
</p>

<% if current_user.admin? %>
	<p>
		<%= link_to 'Edit meeting', edit_admin_meeting_path(@meeting), :class => 'edit' %> | 
		<%= link_to 'Delete meeting', admin_meeting_path(@meeting), :class => 'delete', :method => :delete, :confirm => 'Are you sure you want to destroy this meeting?' %>
	</p>
<% end %>

<div class="float-left">
	<% if @video.state == 'converting' -%>
		<div class="notice">Video is still converting, please be patient</div>
	<% elsif @video.state == 'error' -%>
		<div class="error">There was an error while converting your video</div>
	<% elsif @video.state == 'converted' -%>
	<%= player( {
								:file => "#{@video.video.url}.flv",
								:skin => :dangdang
							},
							{
								:width => 480,
								:height => 270
							} ) %>
	<% end -%>
</div>

<div class="float-left">
	<object type="application/x-shockwave-flash" data="http://me.tokbox.com/vc/tdxmz02dz00wmx6g/10" width="375" height="425">
		<param name="movie" value="http://me.tokbox.com/vc/tdxmz02dz00wmx6g/10" />
		<param name="allowFullScreen" value="true" />
		<param name="allowScriptAccess" value="always" />
		<param name="flashvars" value="guestList=false&textChat=true" />
	</object>
</div>
<div class="clear"></div>