<%= content_for :javascript do %>
  <!-- production -->
  <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
  <!-- test -->
  <%#<script type="text/javascript" src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>%>
  <script type="text/javascript">
    $(function() {
      TB.setLogLevel(TB.DEBUG);

      var api_key, session_id, token, session, publisher, subscriber;

      api_key = "<%= ENV['TOKBOX_API_KEY'] %>";
      session_id = "<%= @meeting.tok_session_id %>";
      token = "<%= @token %>";

      session = TB.initSession(session_id);
      session.addEventListener('sessionConnected', sessionConnectedHandler);
      session.addEventListener('streamCreated', streamCreatedHandler);
      session.connect(api_key, token);

      function sessionConnectedHandler(event) {
        publisher = session.publish('tokbox-stream');

        // subscribe to any streams that were already in the session
        subscribeToStreams(event.streams);
      }

      function streamCreatedHandler(event) {
        // subscribe anytime a new stream is published
        subscribeToStreams(event.streams);
      }

      function subscribeToStreams(streams) {
        for (var i=0; i < streams.length; i++) {
          // make sure that the stream doesn't already exist
          if (streams[i].connection.connectionId == session.connection.connectionId) {
            return;
          }

          // build a new div to house the stream
          var div = document.createElement('div');
          div.setAttribute('id', 'stream' + streams[i].streamId);
          document.body.appendChild(div);

          // subscribe to the stream
          session.subscribe(streams[i], div.id, { width: '330', height: '247' });
        }
      }

    });
  </script>
<% end %>

<h1><%= @meeting.moderator.full_name %> meeting with <%= @meeting.user.full_name %></h1>

<p>
  <strong>When:</strong> In <%= @meeting.date %>, at <%= @meeting.time %>
</p>

<% if admin? %>
  <p>
    <%= link_to 'Edit meeting', edit_admin_meeting_path(@meeting), :class => 'edit' %> | 
    <%= link_to 'Delete meeting', admin_meeting_path(@meeting), :class => 'delete', :method => :delete, :confirm => 'Are you sure you want to destroy this meeting?' %>
  </p>
<% end %>

<%= render 'videos/video_player', video: @video %>

<div id="tokbox-container">
  <div id="tokbox-stream">TokBox is loading...</div>
</div>
<div class="clear"></div>
