<% div_for comment do -%>
	<div class="comment-pic">
		<% if comment.user.blank? -%>
			<%= image_tag "/photos/small/missing.png", :border => 0 %>
		<% else -%>
			<%= image_tag @user.photo.url(:small) %>
		<% end -%>
	</div>
	
	<div class="comment-body">
		<p><strong>
			<%= time_ago_in_words(comment.created_at).camelize %> ago, <%= comment.name %> said:
		</strong></p>
		<p><%= comment.body %></p>
	</div>
	<div class="clear"></div>
	
	<% if admin? -%>
		<p>
			<%= link_to "Delete Comment", [@post, comment], :confirm => 'Are you sure you want to delete this comment?', :method => :delete, :class => "delete" %>
		</p>
	<% end -%>
<% end -%>