<h1>All Meetings</h1>

<%= link_to 'New meeting', new_admin_meeting_path, :class => :large_button %>

<div id="calendar">
  <h2 id="month">
    <%= link_to "< previous", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to " next >", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
  <% calendar_for @meetings, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :date) do |date, meetings| %>
      <%= date.day %>
      <ul>
        <% for meeting in meetings %>
          <li>
						<%= link_to "#{meeting.time} - #{User.find(meeting.user_to_meet_with_id).full_name}", 
							admin_meeting_path(meeting), 
							:class => 'has-tip', 
							:title => "#{meeting.user.full_name} meeting with #{User.find(meeting.user_to_meet_with_id).full_name} at #{meeting.time}" 
						%>
					</li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>