<%= f.error_messages %>

<p>
	<%= f.label :video_id, "Video to review:" %>
	<%= f.collection_select :video_id, Video.find(:all), :id, :verbose_title %>
</p>
<p>
	<%= f.label :description, "Description:" %>
	<%= f.text_area :description, :rows => 5 %>
</p>
<p>
	<%= f.label :pdf, "Attach a PDF:" %>
	<%= f.file_field :pdf %>
</p>
<p>
	<%= f.submit "Add a Review", :class => :save %>
</p>