<%= f.error_messages %>

<p>
	<%= f.label :first_name, 'First Name:<span class="required">*</span>' %>
	<%= f.text_field :first_name %>
</p>

<p>
	<%= f.label :last_name, 'Last Name:<span class="required">*</span>' %>
	<%= f.text_field :last_name %>
</p>

<p>
	<%= f.label :phone_number, "Phone Number:" %>
	<%= f.text_field :phone_number %>
</p>

<p>
	<%= f.label :email, 'Email:<span class="required">*</span>' %>
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :password, 'Password:<span class="required">*</span>' %>
	<%= f.password_field :password %>
</p>

<p>
	<%= f.label :password_confirmation, 'Password Again:<span class="required">*</span>' %>
	<%= f.password_field :password_confirmation %>
</p>

<p>
	<%= f.label :photo, "User Picture:" %>
	<%= f.file_field :photo %>
</p>

<p>
	<%= f.label :admin, "Administrator:" %>
	<%= f.check_box :admin %>
</p>

<p>
	<%= f.submit 'Save', :class => :save %>
</p>