<h1>Edit User</h1>

<%= simple_form_for @user, html: { multipart: true, class: 'form-vertical' } do |f| %>
  <fieldset>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number, :required => false %>
    <%= f.input :email %>
    <%= f.input :password, required: false, hint: 'Only if required if you want to change it' %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :photo, as: :file, required: false %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Update profile', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', @user, class: 'btn btn-danger' %>
  </div>
<% end %>
