<div class="resource-row <%= cycle 'odd', 'even' %>">
  <%= div_for link do %>
    <div class="name">
      <h4><%= link.name %></h4>
    </div>
    <div class="clear"></div>

    <div class="info">
      <div class="url">
        <% if link.url.present? %>
          <strong>Link Url: </strong><%= link_to link.url, link.url %>
        <% end %>
      </div>

      <div class="description">
        <strong>Description: </strong><%= link.description %>
      </div>

      <div class="document">
        <% if link.document.present? %>
          <strong>File download: </strong><%= link_to link.document_file_name, link.document.url %>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= link_to 'Show', admin_link_path(link), class: 'show' %>
      <%= link_to 'Edit', edit_admin_link_path(link), class: 'edit' %>
      <%= link_to 'Destroy', admin_link_path(link), confirm: 'Are you sure?', method: :delete, class: 'delete' %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
