<div class="resource-row <%= cycle 'odd', 'even' %>">
	<div style="float: left;">
		<%= image_tag 'movie.png' %>
	</div>
	<div style="float: right;">
    <br />
		<%= link_to 'Watch', user_video_path(video.user_id, video), :class => "show" %>
	  <%= link_to 'Delete', user_video_path(video.user_id, video), :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
	</div>
	<strong>User: </strong><%= link_to video.user.full_name, video.user %><br />
	<strong>File: </strong><%= video.video_file_name %><br />
  <strong>Created: </strong><%= time_ago_in_words video.created_at %> ago
	<div class="clear"></div>
</div>