<%= div_for video do %>
  <div class="name">
    <%= link_to video do %>
      <h4><%= video.title %></h4>
    <% end %>
  </div>

  <div class="image">
    <%= link_to image_tag('movie.png'), video %>
  </div>

  <div class="info">
    <div class="file"><strong>Original file: </strong><%= video.video_file_name %></div>
    <div class="state"><strong>Status: </strong><%= video.state.camelize %></div>
    <div class="date"><strong>Created: </strong><%= time_ago_in_words(video.created_at) %> ago.</div>
  </div>
  <div class="clear"></div>
<% end %>
