<% content_for :head do -%>
	<%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'swfobject' %>
	<%= javascript_include_tag 'jquery.uploadify.v2.1.0.min' %>
	<%= stylesheet_link_tag 'uploadify' %>
	
	<% session_key_name = ActionController::Base.session_options[:key] -%>
	<script type="text/javascript">
		$(function(){
			$('#upload_video').uploadify({
				script        : '<%= user_videos_path(current_user) %>',
				uploader      : '/swf/uploadify.swf',
				fileDataName  : 'video[video]',
				auto          : 'true',
				cancelImg     : '/images/cancel.png',
				buttonText    : 'New Video',
				fileDesc      : 'h.264 Movie Files',
				fileExt       : '*.m4v;*.mp4',
				onComplete    : function(event, queueID, fileObj, response, data){
					$('#uploads').append('<h2>Video Uploaded! - ' + response + '</h2>');
				},
				scriptData    : {
					'<%= session_key_name %>' : '<%= u cookies[session_key_name] %>',
					'authenticity_token' : encodeURIComponent('<%= u form_authenticity_token if protect_against_forgery? %>')
				}
			});
		});
	</script>
<% end -%>

<h1>All Videos</h1>

<div id="uploads"></div>

<div id="upload_video"></div>

<p>&nbsp;</p>

<div id="videos">
	<%= render @videos %>
</div>
