<h2><%= @video.verbose_title %></h2>

<h3>Uploaded <%= time_ago_in_words @video.created_at %> ago</h3>

<% content_for :head do -%>
	<%= javascript_include_tag 'swfobject_old' %>
<% end -%>

<div class="notice"><%= @video.state %></div>

<%= player( {:file => "#{@video.video.url}.flv", :skin => :dangdang}, {:width => 640, :height => 360} ) %>

<p>&nbsp;</p>

<h2>Video Reviews</h2>
<div id="reviews">
	<% if @video.reviews.size > 0 -%>
		<%= render :partial => '/reviews/review', :collection => @video.reviews %>
	<% else -%>
		<p>Nobody has reviewed this video yet...</p>
	<% end -%>
</div>

<% if admin? -%>
	<h2>Add a Review</h2>
	<% form_for Review.new, :url => reviews_path, :html => { :multipart => true } do |f| %>
		<%= f.hidden_field :video_id, :value => @video.id %>
		<p>
			<%= f.label :description, "Description:" %>
			<%= f.text_area :description, :rows => 3 %>
		</p>
		<p>
			<%= f.label :pdf, "Attach a PDF:" %>
			<%= f.file_field :pdf %>
		</p>
		<p>
			<%= f.label "" %>
			<%= f.submit "Add a Review", :class => "add-button" %>
		</p>
	<% end %>
<% end -%>