<%= content_for :head do %>
  <%= stylesheet_link_tag "video-js" %>
<% end %>

<h2><%= @video.title %></h2>

<p>
  <strong>Description:</strong><%= @video.description %>
</p>

<p>
  <strong>Uploaded:</strong> <%= time_ago_in_words @video.created_at %> ago<br />
  <strong>By:</strong> <%= @video.user.full_name %>
</p>

<%= render 'video_player', video: @video %>


<div id="reviews">
  <h2>Video Reviews</h2>

  <% if @video.reviews.size > 0 %>
    <%= render :partial => '/admin/reviews/review', :collection => @video.reviews %>
  <% else %>
    <p>Nobody has reviewed this video yet...</p>
  <% end %>
</div>
