<h2><%= @video.title %></h2>

<p>
  <strong>Description:</strong><%= @video.description %>
</p>

<p>
  <strong>Uploaded:</strong> <%= time_ago_in_words @video.created_at %> ago<br />
  <strong>By:</strong> <%= @video.user.full_name %>
</p>

<%= render 'video_player', video: @video %>


<div id="reviews">
  <h2>Video Reviews</h2>

  <%= render @video.reviews %>
</div>
