<%= f.error_messages %>

<p>
	<%= f.label :category_ids, "On Pages:" %>
	<% Category.find(:all).each do |category| -%>
		<%= check_box_tag "link[category_ids][]", category.id, @link.categories.include?(category) %> <%= category.name %> 
	<% end -%>
</p>
<p>
  <%= f.label :name, 'Name:<span class="required">*</span>' %>
  <%= f.text_field :name, :size => 42 %>
</p>
<p>
  <%= f.label :url, 'Link Url:' %>
  <%= f.text_field :url, :size => 42 %>
</p>
<p>
  <%= f.label :description, 'Description:' %>
  <%= f.text_area :description, :rows => 5 %>
</p>
<p>
	<%= f.label :document, 'Document:' %>
	<%= f.file_field :document %>
</p>
<p>
	<%= f.label "" %>
  <%= f.submit 'Save Link' %>
</p>