<%= div_for @post do %>
  <h1 class="title"><%= @post.title %></h1>

  <div class="form-actions">
    <%= link_to 'Edit post', edit_admin_post_path(@post), class: 'btn' %>
    <%= link_to 'Delete post', admin_post_path(@post), class: 'btn btn-danger', method: :delete,
      confirm: 'Are you sure you want to delete this post?' %>
  </div>

  <div class="publisher-info">
    <span class="author">By: <%= @post.user.full_name %></span>
    <span class="time"><%= time_ago_in_words(@post.created_at) %> ago.</span>
    <div class="categories">
      Under:
      <% @post.categories.each do |c| %>
        <%= c.name %> |
      <% end %>
    </div>
  </div>

  <div class="body">
    <%= @post.body.html_safe %>
  </div>
<% end %>

<div id="comments">
  <h3>Comments (<%= @post.comments.count %>)</h3>
  <%= render @post.comments %>
</div>
