<h1 class="post_title">
	<%= @post.title %>
</h1>

<p class="post_time">
	By: <%= @post.user.full_name %>, <%= time_ago_in_words(@post.created_at) %> ago.
	<%= pluralize(@post.comments.size, 'Comment') %>
</p>

<p>
	<%= link_to "Edit Post", edit_admin_post_path(@post), :class => 'edit' %>
	<%= link_to "Delete Post", admin_post_path(@post), :confirm => "Are you sure want to delete this post?", :method => 'delete', :class => 'delete' %>
</p>

<div class="post_body">
  <%= @post.body %>
</div>

<p>&nbsp;</p>

<h3 id="comment_count"><%= pluralize(@post.comments.size, 'Comment') %></h3>
<div id="comments">
	<% @post.comments.each do |comment| -%>
		<%= render :partial => comment %>
	<% end -%>
</div>