<div class="resource-row <%= cycle 'odd', 'even' %>">
  <%= div_for category do %>
    <div class="name">
      <h4><%= category.name %></h4>
    </div>
    <div class="clear"></div>

    <div class="actions">
      <%= link_to 'Edit', edit_admin_category_path(category), :class => 'edit' %>
      <%= link_to 'Delete', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
