<%= f.error_messages %>

<p>
	<%= f.label :user_id, "Author:" %>
	<%= f.collection_select :user_id, User.find_all_by_admin(true), :id, :full_name %>
</p>

<p>
	<%= f.label :category_ids, "Category:" %>
	<% Category.find(:all).each do |category| -%>
		<%= check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) %>
		<%= category.name %> | 
	<% end -%>
</p>

<p>
  <%= f.label :title, 'Title:<span class="required">*</span>' %>
  <%= f.text_field :title, :size => 50, :class => "post-title-input" %>
</p>
<p>
  <%= f.label :body, 'Body:<span class="required">*</span>' %>
  <%= f.text_area :body, :cols => 78, :rows => 20, :class => 'mceEditor' %>
</p>
<p>
	<%= f.submit 'Publish Post', :class => "add-button" %>
</p>