<%= div_for post do %>
  <%= link_to post do %>
    <h2 class="title"><%= post.title %></h2>
  <% end %>

  <div class="publisher-info">
    <span class="author">By: <%= post.user.full_name %></span>,
    <span class="time"><%= time_ago_in_words(post.created_at) %> ago.</span>
    <div class="categories">
      Under: 
      <% post.categories.each do |c| %>
        <%= link_to c.name, c %> |
      <% end %>
    </div>
  </div>

  <div class="body">
    <%= post.body.html_safe %>
  </div>
<% end %>
