<h3 class="post_title">
	<%= link_to post.title, post %>
</h3>

<% if admin? -%>
	<p>
		<%= link_to "Edit Post", edit_post_path(post), :class => 'edit' %>
		<%= link_to "Delete Post", post, :confirm => "Are you sure want to delete this post?", :method => 'delete', :class => 'delete' %>
<% end -%>

<p class="post_time">
	By: <%= post.user.full_name %>, <%= time_ago_in_words(post.created_at) %> ago. 
	<%= pluralize(post.comments.size, 'Comment') %><br />
	Under 
	<% post.categories.each do |c| -%>
		<%= link_to c.name, c %> 
	<% end -%>
</p>
<div class="post_body">
	<%= post.body %>
</div>