<h1 class="post_title">
	<%= @post.title %>
</h1>

<p class="post_time">
	By: <%= @post.user.full_name %>, <%= time_ago_in_words(@post.created_at) %> ago.
	<%= pluralize(@post.comments.size, 'Comment') %>
</p>

<div class="post_body">
  <%= @post.body %>
</div>

<p>&nbsp;</p>

<h3 id="comment_count"><%= pluralize(@post.comments.size, 'Comment') %></h3>
<div id="comments">
	<% @post.comments.each do |comment| -%>
		<%= render :partial => comment %>
	<% end -%>
</div>

<h3>Leave a New Comment</h3>
<%= simple_form_for [@post, @post.comments.new] do |f| %>
	<fieldset>
	
		<% if logged_in? -%>
			<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
			<%= f.input :name, :as => :hidden, :input_html => { :value => current_user.full_name } %>
			<%= f.input :email, :as => :hidden, :input_html => { :value => current_user.email } %>
		<% else -%>
			<%= f.input :name, :label => 'Your full name:' %>
			<%= f.input :email %>
		<% end -%>
		<%= f.input :body, :label => "What's on your mind?", :input_html => { :rows => 5 } %>
		<%= f.button :submit, 'Add comment', :id => 'submit_comment' %>
	</fieldset>
<% end -%>
