<%= render @post %>

<div id="comments">
  <h3>Comments (<%= @post.comments.count %>)</h3>
  <%= render @post.comments %>
</div>

<% if logged_in? %>
  <%= simple_form_for [@post, @post.comments.new], html: { class: 'form-vertical' } do |f| %>
    <fieldset>
      <legend>Leave a new comment</legend>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.input :body, label: "What's on your mind?", input_html: { rows: 5, cols: 35 } %>
	</fieldset>

    <div class="form-actions">
      <%= f.button :submit, 'Add comment', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
