<h1><%= @category.name %> Resources</h1>

<% if @posts.size > 0 -%>
	<%= render @posts %>
<% else -%>
	<h4>Sorry, there aren't any posts for <%= @category.name.downcase %> yet...</h4>
<% end -%>

<% content_for :links do -%>
	<h3><%= @category.name %> Links</h3>
	
	<% if @links.size > 0 %>
		<ul>
			<% @links.each do |link| -%>
				<li class="category-link">
					<h5 class="link-name"><%= link.name %></h5>
					<strong>Description: </strong><%= link.description %>
					<% if link.url != '' -%>
						<br />
						<strong>URL: </strong><%= link_to link.url, link.url %>
					<% end -%>
					<% if link.document? -%>
						<br />
						<strong>File: </strong><%= link_to link.document_file_name, link.document.url %>
					<% end -%>
				</li>
			<% end -%>
		</ul>
	<% end -%>
<% end -%>