<h1><%= @category.name %> Resources</h1>

<div id="posts">
  <%= render @category.posts %>
</div>

<%= content_for :links do -%>
  <h3><%= @category.name %> Links</h3>
  
  <ul id="links">
    <%= render @category.links %>
  </ul>
<% end %>

