<div class="resource-row <%= cycle 'odd', 'even' %>">
  <%= div_for user do %>
    <div class="name">
      <h4><%= user.full_name %> - Videos(<%= user.videos.size %>)</h4>
    </div>

    <div class="pic">
      <%= image_tag user.photo.url(:small) %>
    </div>

    <div class="contact-info">
      <div class="phone">
        <strong>Phone Number: </strong><%= user.phone_number %>
      </div>
      <div class="email">
        <strong>Email Address: </strong><%= user.email %>
      </div>
      <div class="admin">
        <strong>Administrator: </strong><%= user.admin? %>
      </div>
    </div>

    <div class="actions">
      <%= link_to 'Show', admin_user_path(user), class: 'show' %>
      <%= link_to 'Edit', edit_admin_user_path(user), class: 'edit' %>
      <%= link_to 'Destroy', admin_user_path(user), 
        confirm: 'Are you sure you want to delete this user? All of their posts, comments, and videos will be deleted with them.', 
        method: :delete, class: 'delete' 
      %>
	</div>
    <div class="clear"></div>
  <% end %>
</div>
