<div class="resource-row <%= cycle 'odd', 'even' %>">
	<div style="float: right;">
		<br />
		<%= link_to 'Go to Meeting', meeting, :class => 'show' %>
	</div>
	<strong>In:</strong> <%= pluralize(meeting.days_from_today_to_meeting, 'day') %> at <%= meeting.time %><br />
	<strong>Meeting With:</strong> <%= User.find(meeting.creator_id).full_name %>, 
	<strong>Video:</strong> <%= link_to meeting.video.title, user_video_path(meeting.video.user_id, meeting.video) %><br />
	<strong>Confirmed:</strong> <%=h meeting.confirmed %>
</div>
<div class="clear"></div>