<% content_for :head do %>
    <%= javascript_include_tag 'swfobject' %>
    <%= javascript_include_tag 'jquery.uploadify.v2.1.4.min' %>
    <%= stylesheet_link_tag 'uploadify' %>
    <% session_key_name = ActionController::Base.session_options[:key] -%>
<% end %>

<h1>All Videos</h1>

<%= s3_uploader :key => 'video', :button_img => '/images/new_video.png' %>

<p>&nbsp;</p>

<div id="videos">
    <% @videos.each do |video| %>
        <%= render 'admin/videos/video', :video => video %>
    <% end %>
</div>
