<%= content_for :javascript do %>
  <%= javascript_include_tag 'swfobject' %>
  <%= s3_upload_script({ key: 'video', button_text: 'Choose video file' }).html_safe %>
<% end %>


<h1>New video</h1>

<%= simple_form_for @video, url: admin_videos_path do |f| %>
  <fieldset>
    <legend>Video details</legend>
    <div class='control-group'>
      <%= link_to 'Choose video file', '#', id: 'upload_video', class: 'btn' %>
      <div id="instructions" class="alert alert-success" style="display: none;">
        Now please complete the form and save.
      </div>
    </div>

    <%= render 'form', f: f %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, 'Save video', class: 'btn btn-primary' %>
    Please wait for the video to finish uploading before hitting 'Save video.'
  </div>
<% end %>

