<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Teacher Ducklings -- <%= controller_name.capitalize %> | <%= controller.action_name.capitalize %></title>
	<%= stylesheet_link_tag 'common_styles' %>  
	<%= stylesheet_link_tag 'duckling_admin_styles' %>
	<%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.9.custom'%>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/tiny_mce/jquery.tinymce.js"></script>
	<%= javascript_include_tag :all %>
	
	<%= yield :head %>

</head>

<body>
	<div id="header">
		<div style="float: left;">
			<h2>Teacher Ducklings Admin Panel</h2>
		</div>
		<div style="float: right;">
			Logged in as: <strong><%= current_user.full_name %></strong> (<%= link_to "Logout", logout_path %>)<br />
			<%= link_to "Site Home", root_path %>
		</div>
		<div class="clear"></div>
		
		<div id="nav">
			<ul>
				<li><%= link_to "Dashboard", admin_root_path %></li>
				<li><%= link_to "Users", admin_users_path %></li>
				<li><%= link_to "Categories", admin_categories_path %></li>
				<li><%= link_to "Posts", admin_posts_path %></li>
				<li><%= link_to "Links", admin_links_path %></li>
				<li><%= link_to "Videos", admin_videos_path %></li>
				<li><%= link_to "Meetings", admin_meetings_path %></li>
			</ul>
		</div>
		<div class="clear"></div>
		
	</div>
	<!-- End Header -->
	
		<div id="main-body">
			<div id="primary-content">
				<% flash.each do |name,value| -%>
					<div class="<%= name %>"><%= value %></div>
				<% end -%>

				<%= yield %>
			</div>
			<!-- End Primary Content -->
			
			<div id="secondary-content">
				<h3>Upcoming Meetings</h3>
				<% for meeting in Meeting.find_upcoming_meetings %>
					<p>
						<%= meeting.user.full_name %> has a meeting with <%= User.find(meeting.user_to_meet_with_id).full_name %>
						in <%= pluralize(meeting.days_from_today_to_meeting, 'day') %>. Go to the 
						<%= link_to "meeting room", meeting_path(meeting) %> now.
					</p>	
				<% end %>	
				
				<h3>Recent Uploads</h3>
				<% for video in Video.find_recent_uploads %>
					<p>
						<%= link_to video.user.full_name, admin_user_path(video.user) %> uploaded a video <%= time_ago_in_words(video.created_at) %> ago.
						<%= link_to "Watch it now", admin_video_path(video) %>.
					</p>
				<% end %>
			</div>
			
		<div class="clear"></div>
	
		<div id="footer">
			<p>&copy; Copyright 2009 Teacher Ducklings</p>
		</div>
		<!-- End Footer -->
		
	</div>
	<!-- End Main Body -->

</body>
</html>
